html{
  font-size: 12px;
}
.container{
  padding: 30px !important;
  background:
  linear-gradient(to left top,#003B00 0% , #7C9B15 50%, #91A96F 100% );
  color: #FFF;
}
.weatherDesc{
  background-color: #fff;
  color: green;
  padding: 15px;
  margin-top: 30px;
}
.m-top20{
  margin-top: 20px;
}
.todaysTemp{
  position: relative;
  top: -25px;
}
.todaysDate{
  position: relative;
  top: -60px;
}
.font2{
  font-size: 2rem;
}
.font4{
  font-size: 4rem;
}
.font8{
  font-size: 8rem;
}
.degreeSymbol{
  font-size: 2rem;
  position: relative;
  top: -55px;
}
.m-top0{
  margin-top: 0px;
}
.m-bottom0{
  margin-bottom: 0px;
}
.overlay{
  background-color: rgba(255,255,255,.8);
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
}